<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continuum Reverie : netcatcat.net</title>
    
    <link rel="stylesheet" href="../assets/style.css?version=5">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <script type="module" src="../index.js?version=4"></script>
    <div id="page-container-and-content-wrap">
      <div class="header-container">
        <header class="header-border">
          <h1 class="front-page-title">Work In Progress</h1>
          <h2>Currently unavailable!</h2>
          <h2>Please stand by!</h2>
        </header> <!-- class=header-border -->
      </div> <!-- class=header-container -->

      <div class="nav-main-aside-container">
        <nav>
          <h3 class="silly-terminal">&lt;nav&gt;</h3>
          <hr class="hr-nav">
          <div class="kbity-container">
            <h5><em>BEHOLD!</em> A kbity randomizer!!</h5>
            <img 
              alt="A stylized ASCII art of a kitty."
              id="kbity-left">
          </div> <!-- class=kbity-container -->
          <hr class="hr-nav">
          <div class="kofi">
            <a href="https://ko-fi.com/starrflowerr">
              <img
                src="../assets/images/ko-fi_logo_official.png"
                alt="Donation link to my Ko-Fi!"
              >
            </a>
          </div> <!-- kofi -->
          <hr class="hr-nav">
          <div class="button-container">
            <button id="cv-puter" type="button">SWE/SRE portfolio</button>
            <button id="blog-puter" type="button">Computing blog</button>
            <button id="nw4" type="button">New World 4</button>
            <button id="omega-psi" type="button">ω Notes/ψ Notes</button>
            <button id="co-re" type="button">Co-Re/P2E</button>
          </div> <!-- class=button-container -->
          <hr class="hr-nav">
          <h3 class="silly-terminal">&lt;/nav&gt;</h3>
        </nav>

        <main>
          <h3>Website <i>(or at least this .html file)</i> under contruction!</h3>
          <h4>However, when you think about it, when is anything not under construction? What's a living being, if not a story that continues to write itself, for all eternity or until its impermanence finally catches up to it?</h4>
          <hr class="hr-main" />
          <div class="button-container">
            <button id="go-home" type="button">Front page</button>
          </div> <!-- class=button-container -->
          <hr class="hr-main">
          <h3 class="silly-terminal">[creature57@puter ~]$ cd ~/Co-Re</h3>
          <div class="riamage-container">
            <img src="../assets/images/pentablet.png" alt="A drawing of fictional character trying to draw on a graphic tablet, but confused as to why it is not working. They are holding their pen the other way around.">
          </div>
          <style>
            .riamage-container {
              text-align: center;
            }
          </style>
        </main>

        <aside>
          <h3 class="silly-terminal">&lt;aside&gt;</h3>
          <hr class="hr-aside">
          <div class="kbity-container">
            <h5><em>BEHOLD!</em> A kbity randomizer!!</h5>
            <img 
              alt="A stylized ASCII art of a kitty."
              id="kbity-right">
          </div> <!-- class=kbity-container -->
          <p>To be filled with interesting stuff!</p>
          <hr class="hr-aside">
          <h3 class="silly-terminal">&lt;/aside&gt;</h3>
        </aside>
      </div> <!-- id=nav-main-aside-container-->
    </div> <!-- id=page-container-and-content-wrap -->
    <div id="footer-paster"></div>
  </body>
</html>