<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New World 4 : netcatcat.net</title>

    <meta property="og:title" content="netcatcat.net">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://netcatcat.net/view/nw4.html">
    <meta property="og:image" content="https://netcatcat.net/assets/images/KBITY_TRANSEDEN_TEAL_HEHE_.png">
    
    <link rel="stylesheet" href="../assets/style.css?version=5">
    <link rel="stylesheet" href="../assets/nw4.css?version=3">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <script type="module" src="../index.js?version=5"></script>
    <div id="page-container-and-content-wrap">
      <div class="header-container">
        <header class="header-border">
          <h1 class="front-page-title">New World 4</h1>
          <h2>A 5+ year old Minecraft world!</h2>
        </header> <!-- class=header-border -->
      </div> <!-- class=header-container -->

      <div class="nav-main-aside-container">
        <nav>
          <h3 class="silly-terminal">&lt;nav&gt;</h3>
          <hr class="hr-nav">
          <div class="kbity-container">
            <h5><em>BEHOLD!</em> A kbity randomizer!!</h5>
            <img 
              alt="A stylized ASCII art of a kitty."
              id="kbity-left">
          </div> <!-- class=kbity-container -->
          <hr class="hr-nav">
          <div class="kofi">
            <a href="https://ko-fi.com/starrflowerr">
              <img
                src="../assets/images/ko-fi_logo_official.png"
                alt="Donation link to my Ko-Fi!"
              >
            </a>
          </div> <!-- kofi -->
          <hr class="hr-nav">
          <div class="button-container">
            <button id="cv-puter" type="button">SWE/SRE portfolio</button>
            <button id="blog-puter" type="button">Computing blog</button>
            <button id="nw4" type="button">New World 4</button>
            <button id="omega-psi" type="button">ω Notes/ψ Notes</button>
            <button id="co-re" type="button">Co-Re/P2E</button>
          </div> <!-- class=button-container -->
          <hr class="hr-nav">
          <h3 class="silly-terminal">&lt;/nav&gt;</h3>
        </nav>

        <main>
          <h3>Website <i>(or at least this .html file)</i> under contruction!</h3>
          <h4>However, when you think about it, when is anything not under construction? What's a living being, if not a story that continues to write itself, for all eternity or until its impermanence finally catches up to it?</h4>
          <hr class="hr-main">
          <div class="button-container">
            <button id="go-home" type="button">Front page</button>
          </div> <!-- class=button-container -->
          <hr class="hr-main">
          <h3 class="silly-terminal">[ec2-user@ip-172-31-19-78 ~] $ java -Xmx1300M -Xms1300M -jar server.jar nogui && sed -i 's/false/true/p' eula.txt</h3>

          <p>&emsp;New World 4 is my 5+ year old, 98.5% legit <em>(I can explain)</em> vanilla survival Minecraft world! I enjoy playing it in my spare time every week and have a tradition of taking a screenshot for every ingame day that passes and saving it in a directory.</p>
          <p>&emsp;Currently the screenshots aren't publicly hosted anywhere, however I have a Python & AWS project on the backburner for both organizing and hosting my blocky memory collection publicly!</p>
          <div class="nw4-img-container">
            <img src="../assets/images/nw4-preview-1.png" alt="" srcset="">
            <img src="../assets/images/nw4-preview-2.png" alt="" srcset="">
            <img src="../assets/images/nw4-preview-3.png" alt="" srcset="">
            <img src="../assets/images/nw4-preview-4.png" alt="" srcset="">
            <img src="../assets/images/nw4-preview-5.png" alt="" srcset="">
            <img src="../assets/images/nw4-preview-6.png" alt="" srcset="">
            <img src="../assets/images/nw4-preview-7.png" alt="" srcset="">
            <img src="../assets/images/nw4-preview-8.png" alt="" srcset="">

          </div>
        </main>

        <aside>
          <h3 class="silly-terminal">&lt;aside&gt;</h3>
          <hr class="hr-aside">
          <div class="kbity-container">
            <h5><em>BEHOLD!</em> A kbity randomizer!!</h5>
            <img 
              alt="A stylized ASCII art of a kitty."
              id="kbity-right">
          </div> <!-- class=kbity-container -->
          <p>To be filled with interesting stuff!</p>
          <hr class="hr-aside">
          <h3 class="silly-terminal">&lt;/aside&gt;</h3>
        </aside>
      </div> <!-- id=nav-main-aside-container-->
    </div> <!-- id=page-container-and-content-wrap -->
    <div id="footer-paster"></div>
  </body>
</html>
