<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ω/ψ Notes : netcatcat.net</title>

    <meta property="og:title" content="netcatcat.net">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://netcatcat.net/view/omega-psi.html">
    <meta property="og:image" content="https://netcatcat.net/assets/images/KBITY_TRANSEDEN_TEAL_HEHE_.png">
    
    <link rel="stylesheet" href="../assets/style.css?version=5">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <script type="module" src="../index.js?version=5"></script>
    <script type="module" src="../scripts/omega-psi-buttons.js?version=2"></script>
    <div id="page-container-and-content-wrap">
      <div class="header-container">
        <header class="header-border">
          <h1 class="front-page-title">ω Notes/ψ Notes</h1>
          <h2>A light-hearted, amateur, multidipliscinary research note project.</h2>
        </header> <!-- class=header-border -->
      </div> <!-- class=header-container -->

      <div class="nav-main-aside-container">
        <nav>
          <h3 class="silly-terminal">&lt;nav&gt;</h3>
          <hr class="hr-nav">
          <div class="kbity-container">
            <h5><em>BEHOLD!</em> A kbity randomizer!!</h5>
            <img 
              alt="A stylized ASCII art of a kitty."
              id="kbity-left">
          </div> <!-- class=kbity-container -->
          <hr class="hr-nav">
          <div class="kofi">
            <a href="https://ko-fi.com/starrflowerr">
              <img
                src="../assets/images/ko-fi_logo_official.png"
                alt="Donation link to my Ko-Fi!"
              >
            </a>
          </div> <!-- kofi -->
          <hr class="hr-nav">
          <div class="button-container">
            <button id="cv-puter" type="button">SWE/SRE portfolio</button>
            <button id="blog-puter" type="button">Computing blog</button>
            <button id="nw4" type="button">New World 4</button>
            <button id="omega-psi" type="button">ω Notes/ψ Notes</button>
            <button id="co-re" type="button">Co-Re/P2E</button>
          </div> <!-- class=button-container -->
          <hr class="hr-nav">
          <h3 class="silly-terminal">&lt;/nav&gt;</h3>
        </nav>

        <main>
          <h3>Website <i>(or at least this .html file)</i> under contruction!</h3>
          <h4>However, when you think about it, when is anything not under construction? What's a living being, if not a story that continues to write itself, for all eternity or until its impermanence finally catches up to it?</h4>
          <hr class="hr-main">
          <div class="button-container">
            <button id="go-home" type="button">Front page</button>
            <button id="omN-table-of-contents" type="button">Table of Contents</button>
            <button id="omN-notebook-0" type="button">Notebook 0</button>
          </div> <!-- class=button-container -->
          <hr class="hr-main">
          <h3 class="silly-terminal">[creature57@puter ~] $ ./DocYoinker -f 0</h3>
          <p>&emsp;In 2021 I had an idea for a new way of organizing some of the knowledge I've been gaining over the years; primarily, concerning mathematics, physics, and a touch of a few other subjects. Since I love studying and seeing progress of my studies, but also found my habit of taking "organic" notes in physical notebooks a bit too laborous and difficult to manage, I came up with a system to instead do this in Google Docs! This is the <strong>omega Notes</strong> project.</p>
          <p>&emsp;You can find the links to the <strong>Table of Contents</strong> of the project and the introductory <strong>Notebook Zero</strong> in the navigation buttions above.</p>
          <p>&emsp;<strong>psi Notes</strong> is my plan to now move away from Google Docs into a self-hosted static website generator, without abandoning the comfort of being able to write those notes with the help of Google Docs. Yes, it's another software development project on my backburner. I like having things to do!</p>
        </main>

        <aside>
          <h3 class="silly-terminal">&lt;aside&gt;</h3>
          <hr class="hr-aside">
          <div class="kbity-container">
            <h5><em>BEHOLD!</em> A kbity randomizer!!</h5>
            <img 
              alt="A stylized ASCII art of a kitty."
              id="kbity-right">
          </div> <!-- class=kbity-container -->
          <p>To be filled with interesting stuff!</p>
          <hr class="hr-aside">
          <h3 class="silly-terminal">&lt;/aside&gt;</h3>
        </aside>
      </div> <!-- id=nav-main-aside-container-->
    </div> <!-- id=page-container-and-content-wrap -->
    <div id="footer-paster"></div>
  </body>
</html>
